<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../partials/head', {title: 'CredentialManifest管理'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('../partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">
  <div class="kk-container kk-padding-s" size-s left>
    <div class="didp-title kk-margin-right">CredentialManifest - <%= issuer.name %></div>
    <button class="kk-button" type="button" fit onclick="openAddModal();">
      <span class="material-symbols-outlined kk-margin-right-ss">add_business</span>新規追加
    </button>

    <% 
      for (const manifest of credentialManifestList) { 
        const outputDescriptor = JSON.parse(manifest.outputDescriptorJson)
    %>
    <div id="<%= manifest.id %>" class="kk-card kk-shadow kk-margin-top">
      <input name="id" type="hidden" value="<%= manifest.id %>">
      <input name="name" type="hidden" value="<%= manifest.name %>">
      
      <div class="kk-card-title"><%= manifest.name %></div>

      <div class="didp-padac kk-margin-top-ss">
        <span class="kk-font-bold">Preview: </span>
      </div>
      <div class="didp-padac kk-margin-top-ss">
        <%- include('../partials/vcDisplay', {func: func, output: outputDescriptor, param: {}}); %>
      </div>

      <div class="kk-accordion kk-margin-top-ss" theme="icon" closed>
        <span class="kk-font-bold">outputDescriptor: </span><%= outputDescriptor.id %> 
      </div>
      <div class="didp-padac kk-margin-top-ss">
        <textarea name="output_descriptor" class="kk-textarea didp-code" rows="12" readonly><%= JSON.stringify(outputDescriptor,null,2) %></textarea>
      </div>

      <div class="kk-margin-top">
        <button class="kk-button" type="button" fit onclick="openEditModal('<%= manifest.id %>');">
          <span class="material-symbols-outlined kk-margin-right-ss">edit</span>編集
        </button>
        <a class="kk-button" fit href="/.well-known/openid-configuration/<%= manifest.id %>" target="_blank">
          <span class="material-symbols-outlined kk-margin-right-ss">style</span>OpenID Configuration
        </a>
      </div>
    </div>
    <% } %>

  </div>
</div>

<div id="edit_modal" class="didp-modal" closed>
  <div>
    <div id="modal_inner">
      <form action="." method="POST">
        <input name="issuer_id" type="hidden" value="<%= issuer.id %>">

        <div grid-col>
          <div class="kk-col12" cell>
            <div class="kk-input-field">
              <input name="id" class="kk-input _values" type="text" readonly>
              <label class="kk-input-label">ID(UUID自動発行)</label>
            </div>
          </div>
          <div class="kk-col12" cell>
            <div class="kk-input-field">
              <input name="name" class="kk-input _values" type="text" maxlength="40" required>
              <label class="kk-input-label">名称</label>
            </div>
          </div>
          <div class="kk-col12" cell>
            <div class="kk-input-field">
              <textarea name="output_descriptor" class="kk-textarea didp-code _values" rows="16"></textarea>
              <label class="kk-input-label">Output Descriptor</label>
            </div>
          </div>
        </div>
        <div class="kk-margin-top" grid-col>  
          <div class="kk-col6" cell>
            <button class="kk-button" theme="secondary" type="button" onclick="closeModal();">
              <span class="material-symbols-outlined kk-margin-right-ss">close</span>
              閉じる
            </button>
          </div>
          <div class="kk-col6" cell>
            <button name="_save" class="kk-button" theme="primary" type="submit">
              <span class="material-symbols-outlined kk-margin-right-ss">create</span>
              保存
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="default_values" hidden>
  <textarea name="output_descriptor"><%= outputDescriptorSampleJson %></textarea>
</div>

<script>
  function openAddModal() {
    setModalValues('edit_modal', 'default_values');
    document.getElementById('edit_modal').removeAttribute('closed');
  }
  function openEditModal(id) {
    setModalValues('edit_modal', id);
    document.getElementById('edit_modal').removeAttribute('closed');
  }
  function closeModal() {
    document.getElementById('edit_modal').setAttribute('closed', '');
  }
</script>

</body>
</html>