<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../partials/head', {title: 'Issuer管理'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('../partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">
  <div class="kk-container kk-padding-s" size-s left>
    <div class="didp-title kk-margin-right">Issuer管理</div>
    <button class="kk-button" fit onclick="openAddModal();">
      <span class="material-symbols-outlined kk-margin-right-ss">add_business</span>新規追加
    </button>

    <% for (const issuer of issuerList) { %>
    <div id="<%= issuer.id %>" class="kk-card kk-shadow kk-margin-top" 
      style="background-color: <%= issuer.styles.background.color %>; color: <%= issuer.styles.text.color %>;">
      <input name="id" type="hidden" value="<%= issuer.id %>">
      <input name="name" type="hidden" value="<%= issuer.name %>">
      <input name="background_color" type="hidden" value="<%= issuer.styles.background.color %>">
      <input name="text_color" type="hidden" value="<%= issuer.styles.text.color %>">

      <div class="kk-card-title"><%= issuer.name %></div>
      <div class="didp-padac kk-margin-top-ss">
        <span class="kk-font-bold">ID: </span><%= issuer.id %>
      </div>
      <div class="kk-accordion kk-margin-top-ss" theme="icon" closed>
        <span class="kk-font-bold">DID: </span><%= issuer.didObject.didShort %>
      </div>
      <div class="didp-padac kk-margin-top-ss">
        <textarea id="text1" class="kk-textarea" rows="8" readonly><%= issuer.didObject.didLong %></textarea>
      </div>

      <div class="kk-margin-top">
        <button class="kk-button" fit onclick="openEditModal('<%= issuer.id %>');">
          <span class="material-symbols-outlined kk-margin-right-ss">edit</span>編集
        </button>
      </div>
    </div>
    <% } %>

  </div>
</div>

<div id="edit_modal" class="didp-modal" closed>
  <div>
    <div id="modal_inner">
      <form action="." method="POST">
        <div grid-col>
          <div class="kk-col12" cell>
            <div class="kk-input-field">
              <input name="id" class="kk-input _values" type="text" readonly>
              <label class="kk-input-label">ID(UUID自動発行)</label>
            </div>
          </div>
          <div class="kk-col12" cell>
            <div class="kk-input-field">
              <input name="name" class="kk-input _values" type="text" maxlength="40" required>
              <label class="kk-input-label">Issuer名称</label>
            </div>
          </div>
          <div class="kk-col3" cell>
            <div class="kk-input-field">
              <input name="background_color" class="kk-input _values" type="color" required>
              <label class="kk-input-label">背景色</label>
            </div>
          </div>
          <div class="kk-col3" cell>
            <div class="kk-input-field">
              <input name="text_color" class="kk-input _values" type="color" required>
              <label class="kk-input-label">文字色</label>
            </div>
          </div>
        </div>
        <div class="kk-margin-top" grid-col>  
          <div class="kk-col6" cell>
            <button class="kk-button" theme="secondary" type="button" onclick="closeModal();">
              <span class="material-symbols-outlined kk-margin-right-ss">close</span>
              閉じる
            </button>
          </div>
          <div class="kk-col6" cell>
            <button name="_save" class="kk-button" theme="primary" type="submit">
              <span class="material-symbols-outlined kk-margin-right-ss">create</span>
              保存
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="default_values" hidden>
  <input name="background_color" type="hidden" value="#ffffff">
  <input name="text_color" type="hidden" value="#000000">
</div>

<script>
  function openAddModal() {
    setModalValues('edit_modal', 'default_values');
    document.getElementById('edit_modal').removeAttribute('closed');
  }
  function openEditModal(id) {
    setModalValues('edit_modal', id);
    document.getElementById('edit_modal').removeAttribute('closed');
  }
  function closeModal() {
    document.getElementById('edit_modal').setAttribute('closed', '');
  }
</script>

</body>
</html>