<div style="
  max-width: <%= param.maxWidth || '540px' %>;
  padding: 0.5rem;
  border: solid 1px #ccc; 
  background-color: <%= func.orDefault(output, 'styles.background.color', '#ffffff') %>; 
  color: <%= func.orDefault(output, 'styles.text.color', '#444444') %>; "
>
  <div style="
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem; 
    font-weight: bold;"
  >
    <%= func.orDefault(output, 'display.title.fallback', 'No title') %>
  </div>
  <div style="
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;"
  >
    - <%= func.orDefault(output, 'display.subtitle.fallback', 'No subtitle') %>
  </div>

  <% if (!param.isNoDescription) { %> 
  <div style="font-size: 1rem; margin-top: 1rem;">
    <%= func.orDefault(output, 'display.description.text', 'No description') %>
  </div>
  <% } %> 
</div>