<%- include('./functions') %>

<div class="kk-card" size-s
  style="
    border: solid 1px #ccc; 
    background-color: <%= orDefault(output, 'styles.background.color', '#ffffff') %>; 
    color: <%= orDefault(output, 'styles.text.color', '#444444') %>; "
>
  <div class="kk-card-title">
    <%= orDefault(output, 'display.title.fallback', 'No title') %>
    <div style="font-size: 1rem;"><%= orDefault(output, 'display.subtitle.fallback', 'No subtitle') %></div>
  </div>
  <p><%= orDefault(output, 'display.description.text', 'No description') %></p>
</div>