<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./partials/head', {title: 'VC発行'}); %>
</head>
<body>
<div class="kk-sidenav-container" theme="panel">
<%- include('./partials/menu', {}); %>

<%# コンテンツは下記divの中に記載 %>
<div class="kk-sidenav-main kk-padding-s">
  <div class="kk-container kk-padding-s" size-s left>
    <div class="didp-title kk-margin-right">VC発行</div>

    <% for (issuer of issuerList) { %>
    <div class="kk-accordion kk-margin-top kk-flex" theme="icon">
      <span class="kk-margin-right-ss material-symbols-outlined">account_balance</span>
      <span><%= issuer.name %></span>
    </div>
    <div class="kk-margin-left-l" grid-col>
      <% 
        for (manifest of issuer.credentialManifest) {
          const outputDescriptor = JSON.parse(manifest.outputDescriptorJson)
      %>
      <div class="kk-col6@s kk-col12" cell>
        <div class="kk-flex"><span class="kk-margin-right-ss material-symbols-outlined">badge</span><%= manifest.name %></div>
        <a href="/issuer/vc/<%= issuer.id %>">
          <%- include('./partials/vcDisplay', {output: outputDescriptor, param: {isNoDescription: true}}); %>
        </a>
      </div>
      <% } %> 
    </div>
    <% } %> 

  </div>
</div>

<script>
</script>

</body>
</html>